@use "./var/colour";
@use "./var/size";

@import url("normalize.css");

:root {
  scroll-behavior: smooth;
}

*,
:root {
  box-sizing: border-box;
}

body {
  min-height: 100svh;
  background-color: colour.$dark;
  font-family: "Overpass", sans-serif;
  line-height: 1.618;
  color: colour.$text-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  all: unset;
  display: block;
  font-family: "Bebas Neue", sans-serif;
  line-height: 1.618;
}

h1 {
  font-size: size.$text-h1;
}

h2 {
  font-size: size.$text-h2;
}

h3 {
  font-size: size.$text-h3;
}

h4 {
  font-size: size.$text-h4;
}

h5 {
  font-size: size.$text-h5;
}

h6 {
  font-size: size.$text-h6;
}
