// Main palette
$light:         #ffffff;
$light-accent:  #f5f5f5;
$primary:       #60e1dc;
$secondary:     #eb4b98;
$dark:          #181e2a;
$dark-accent:   #1b2330;

// Text
$text-light: $light;
$text-dark: $dark;