// Main palette
$light:         #ffffff;
$light-accent:  #f5f5f5;
$primary:       #60e1dc;
$secondary:     #eb4b98;
$dark:          #181e2a;
$dark-accent:   #1b2330;

// Text
$text-light: $light;
$text-dark: $dark;

// Unique/specific
@mixin fade($colour: $dark, $angle: 180deg, $offset: 12.5%) {
  #{$colour}: $colour;
  #{$angle}: $angle;
  #{$offset}: $offset;
  background-image: linear-gradient($angle, $colour $offset, hsl(0, 0%, 0%, 0));
}