// Major breakpoints
$breakpoint-sm: 300px;
$breakpoint-md: 600px;
$breakpoint-lg: 900px;
$breakpoint-xl: 1200px;

// Text
$text-sm: 0.833rem;
$text-md: 1rem;
$text-h6: 1.2rem;
$text-h5: 1.44rem;
$text-h4: 1.728rem;
$text-h3: 2.074rem;
$text-h2: 2.488rem;
$text-h1: 2.986rem;