@use "sass:map";
@use "sass:math";

$baseline-general:  1.125rem;
$baseline-text:     1.125rem;
$ratio-general:     1.333;
$ratio-text:        1.125;

$size-breakpoint: (
  "sm": 300px,
  "md": 600px,
  "lg": 900px,
  "xl": 1200px,
);

$size-general: (
  "2xs":  math.div($baseline-general, math.pow($ratio-general, 3)),
  "xs":   math.div($baseline-general, math.pow($ratio-general, 2)),
  "sm":   math.div($baseline-general, $ratio-general),
  "md":   $baseline-general,
  "lg":   $baseline-general * $ratio-general,
  "xl":   $baseline-general * math.pow($ratio-general, 2),
  "2xl":  $baseline-general * math.pow($ratio-general, 3),
  "3xl":  $baseline-general * math.pow($ratio-general, 4),
);

$size-specific: (
  "logo": 6rem,
);

$size-text: (
  "2xs":  math.div($baseline-text, math.pow($ratio-text, 3)),
  "xs":   math.div($baseline-text, math.pow($ratio-text, 2)),
  "sm":   math.div($baseline-text, $ratio-text),
  "md":   $baseline-text,
  "lg":   $baseline-text * $ratio-text,
  "xl":   $baseline-text * math.pow($ratio-text, 2),
  "2xl":  $baseline-text * math.pow($ratio-text, 3),
  "3xl":  $baseline-text * math.pow($ratio-text, 4),
);

$size-icon: (
  "xs": 1rem,
  "sm": 2rem,
  "md": 3rem,
  "lg": 4rem,
  "xl": 5rem,
);

$size-border: (
  "sm": 0.0625rem,
  "md": 0.125rem,
  "lg": 0.1875rem,
);

@function breakpoint($key) {
  @return map.get($size-breakpoint, $key);
}

@function general($key) {
  @return map.get($size-general, $key);
}

@function specific($key) {
  @return map.get($size-specific, $key);
}

@function text($key) {
  @return map.get($size-text, $key);
}

@function icon($key) {
  @return map.get($size-icon, $key);
}

@function border($key) {
  @return map.get($size-border, $key);
}